.pinentry-icon {
  color: grey;
}

toolbarview {
  background: @view_bg_color;
}

.view_bg_color {
  background: @view_bg_color;
}

.file-transfer-header {
  background: @window_bg_color;
}

.pin {
  font-size: 48px;
}